h1 {
    text-align: center;
    color: #F9A70E;
    font-weight: bold;
}
h2 {
    text-align: center;
    color: #dd9000;
    font-weight: bold;
}
h4 {
    text-align: center;
    color: #866121;
    font-weight: bold;
}
h5 {
    color: #ffffff;
}
h6 {
    color: #866121;
    text-align: center;
}
strong {
    color: #F9A70E;
    font-weight: bold;
    font-size: larger;
}
body {
    height: 11000px;
    background: linear-gradient(141deg, #310027 0%, #8e44ad 51%, #3498db 75%);
    text-align: center;
}
input{
    text-align: center;
    background-color: #866121;
    color: #ffffff;
    width: 80%;
    max-width: 400px;
}